footer {
    max-height: 50px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    background-color: #9B63B4;
    color: #fff;
    font-size: calc(16px + 6 * ((100vw - 1320px) / 680));
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}