.header {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;

    a {
        text-decoration: none;
    }
    
    .logo {
        max-width: 176px;
        display: block;

        a {
            display: block;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    .search-input {
        max-width: 170px;
        box-sizing: border-box;

        label,
        input {
            display: inline-block;
        }

        label {
            width: 23px;
            height: 23px;
            box-sizing: border-box;
            vertical-align: bottom;

            i {
                color: #333333;
                text-transform: uppercase;
            }
        }

        input {
            font-family: inherit;
            color: #bfbfbf;
            font-size: 14px;
            font-weight: 300;
            width: 72%;
            border: none;
            border-bottom: 1px solid;
            transition: border-bottom .25 linear;

            &:focus {
                outline: none;
                border-bottom: 1px solid #a460b9;
            }
        }
    }

    .links {
        text-transform: uppercase;
        font-family: inherit;
        color: #333333;

        div {
            cursor: pointer;
            display: inline-block;
            color: inherit;

            a {
                position: relative;
                margin-right: 10px; 
                color: inherit;
                
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    width: 0px;
                    height: 5px;
                    margin: 5px 0 0;
                    transition: all 0.2s ease-in-out;
                    transition-duration: 0.4s;
                    opacity: 0;
                }

                &::after {
                    left: 0;
                    background-color: #a460b9;
                }

                &:visited {
                    color: inherit;
                }
            }

            &:hover a::before,
            &:hover a::after {
                width: 100%;
                opacity: 1;
            }
        }
    }

    .languages {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: #bebebe;
        }

        a.active {
            color: #a460b9;
        }

        a:first-child::after {
            margin: 0 7px;
            width: 1px;
            height: 20px;
            background: #bebebe;
            content: '';
            display: inline-block;
        }
    }

    .logout {
        padding: 9px 21px;
        color: #a460b9;
        font-size: 14px;
        font-weight: 400;
        font-family: inherit;
        border-radius: 3px;
        border: 1px solid #a460b9;
        transition: background-color .25 linear;
        cursor: pointer;

        &:hover {
            background-color: #f5edf7;
        }

        button {
            cursor: pointer;
            font-family: inherit;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 415px) {
    // .search-input {
    //     label {
    //         width: 15px;
    //         height: 15px;

    //         i {
    //             font-size: 0.8em;
    //         }
    //     }

    //     input {
    //         font-size: 0.5em;
    //         width: 50%;
    //     }
    // }
}