.library-container {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    margin: 15px auto;
    padding: 0 10px;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

    h1 {
        font-weight: bold;
        text-align: center;
        font-size: 1.5em;
    }

    .control {
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 0.6em;
        line-height: 1em;

        .search-input {
            width: 40%;
            margin-right: 10%;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;
    
            label,
            input {
                display: inline-block;
            }
    
            label {
                max-width: 23px;
                box-sizing: border-box;
                vertical-align: middle;
                margin-right: 2px;
    
                i {
                    color: #333333;
                    text-transform: uppercase;
                    font-size: 22px;
                    line-height: 1em;
                }
            }
    
            input {
                padding-bottom: 3px;
                margin-right: 5px;
                width: 72%;
                color: #bfbfbf;
                font-family: inherit;
                font-size: 18px;
                font-weight: 300;
                line-height: 18px;
                border: none;
                border-bottom: 1px solid;
                transition: border-bottom .25 linear;
    
                &:focus {
                    outline: none;
                    border-bottom: 1px solid #a460b9;
                }
            }
        }

        .year-select {
            display: flex;
            align-items: center;
        }

        .input-range {
            width: 50%;

            .input-range__track--background {
                top: 101%;

                .input-range__track--active {
                    background: #9B63B4;
                }
            }
        }
        .input-range__slider {
            background: #9B63B4 !important;
            border-color: #9B63B4 !important;
        }

        .param {
            width: 22%;
        }
    }

    .control.need-space {
        margin-bottom: 30px;
        padding-right: 16px;
        box-sizing: border-box;
    }


    .movies-all {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-wrap: wrap;

        .row {
            .movie-item {
                // width: 18%;
                margin-top: 30px;
            
                .poster {
                    font-size: 0;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    position: relative;
                    overflow: hidden;

                    a {
                        text-decoration: none;
                        display: block;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(51, 0, 51, 0.8);
                        color: #fff;
                        padding: 15px;
                        -moz-transition: all 0.4s ease-in-out 0s;
                        -webkit-transition: all 0.4s ease-in-out 0s;
                        -ms-transition: all 0.4s ease-in-out 0s;
                        transition: all 0.4s ease-in-out 0s;

                        p {
                            text-align: center;
                            font-size: inherit;
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -moz-transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            font-size: 40px;
                        }
                    }
                    
                    img {
                        display: block;
                        width: 100%;
                    }

                    &:hover a{
                        opacity: 1;
                    }
                }

                .production {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 0.8em;
                    margin-bottom: 10px;

                    .year,
                    .country {
                        display: inline-block;
                        color: #bfbfbf;
                        text-transform: uppercase;
                    }
                }

                .title {
                    font-weight: bold;
                    color: #000;
                    margin-bottom: 10px;
                    transition: all 0.2s linear;

                    &:hover {
                        color: #a460b9;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .genre {
                    font-weight: 300;
                    color: #808080;
                    text-transform: capitalize;
                    font-size: 0.7em;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .library-container {

        .control {
            align-items: flex-end;
        }

        .control.need-space {
            .search-input {
                button {
                    height: 30px;
                    padding: 5px;
                    margin-right: 0;
                    font-size: 14px;
                }
            }

            .year-select {
                // margin:  20px auto 0px;
                padding-right: 16px;
                height: 30px;
                align-items: flex-end;

                button {
                    height: 30px;
                    padding: 5px;
                    margin-right: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .library-container {
        .control.column {
            flex-direction: column;
            
            .param {
                width: 100%;
                margin-bottom: 5px;
            }
        }

        .control.need-space {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            padding-right: 0px;

            .search-input {
                width: 100%;
                margin-right: 0;

                label {
                    i {
                        font-size: 14px;
                    }
                }
                input {
                    width: 96%;
                }
            }

            .year-select {
                margin:  20px auto 0px;
                padding-right: 16px;
                height: 20px;

                button {
                    height: 30px;
                    padding: 5px;
                    margin-right: 0;
                    font-size: 14px;
                }
            }
        }
        
        .input-range__label-container {
            font-size: 9px;
        }
    }
}