.single-movie-container {
    max-width: 960px;
    min-height: calc(100vh - 103px);
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    padding: 10px;

    .description {
        box-sizing: border-box;
        margin-bottom: 10px;
        font-size: 0;

        .title {
            text-align: left;
            font-family: inherit;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 700;
            background-color: #a460b9;
            padding: 0.5em;
        }

        .poster {
            display: inline-block;
            width: 30%;
            margin-right: 20px;

            img {
                display: block;
                width: 100%;
            }
        }

        .description-txt {
            display: inline-block;
            font-family: inherit;
            width: 65%;
            vertical-align: top;
            font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    
            .my-row {
                margin-top: 10px;

                div {
                    display: inline-block;
                }
                
                .characteristic {
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
        }
    }

    .player {
        width: 100%;
        height: 400px;
        box-sizing: border-box;

        div {
            height: 100%;
        }
    }

    .comments {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        font-family: inherit;
        box-sizing: border-box;
        padding: 10px 20px;
        position: relative;

        .comment-action-box {
            z-index: 9999999999;
            width: 100%;
            padding: 0.4em;
            margin-top: 10px;
            position: sticky;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 3px;

            .avatar {
                width: 10%;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .comment-content {
                box-sizing: border-box;
                font-family: inherit;
                width: 85%;

                textarea {
                    font-family: inherit;
                    display: block;
                    border-radius: 3px;
                    width: 100%;
                    resize: none;
                    box-sizing: border-box;
                    padding: 5px;
                    font-size: 0.8em;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    border: none;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    overflow: visible;

                    background: transparent;

                    /* inherit font & color from ancestor */
                    color: inherit;
                    font: inherit;

                    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
                    line-height: normal;

                    /* Corrects font smoothing for webkit */
                    -webkit-font-smoothing: inherit;
                    -moz-osx-font-smoothing: inherit;

                    /* Corrects inability to style clickable `input` types in iOS */
                    -webkit-appearance: none;
                    
                    /* Remove excess padding and border in Firefox 4+ */
                    &::-moz-focus-inner {
                        border: 0;
                        padding: 0;
                    }
                    font-family: inherit;
                    font-size: 0.8em;
                    padding: 0.5em 1em;
                    margin-top: 10px;
                    color: white;
                    background-color: #8E44AD;
                    cursor: pointer;
                    border-radius: 3px;
                    display: block;
                    float: right;
                    transition: background-color .25s linear;

                    &:hover {
                        background-color: #9B59B6;
                    }
                }
            }
        }

        .all-comments {
            width: 100%;
            margin-top: 10px;
            box-sizing: border-box;
            font-family: inherit;

            .my-row {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 10px;
                background-color: #ECF0F1;
                border-radius: 3px;
                padding: 5px;

                .avatar {
                    width: 10%;
                    cursor: pointer;

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                .details {
                    width: 88%;

                    .info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .author {
                            font-weight: bold;
                            color: #7F8C8D;
                            cursor: pointer;
                        }

                        .time-stamp {
                            font-weight: 300;
                            color: #BDC3C7;
                        }
                    }

                    .content {
                        color: #7F8C8D;
                    }
                }
            }

            .my-row.my-comment {
                position: relative;
                flex-direction: row-reverse;
                justify-content: flex-start;
                background-color: #eadcef;

                .avatar {
                    cursor: default;
                }

                .details {

                    .info {
                        flex-direction: row-reverse;

                        .author {
                            visibility: hidden;
                        }
                    }
                }

                button {
                    text-decoration: none;
                    display: block;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(51, 0, 51, 0.8);
                    color: #fff;
                    padding: 15px;
                    -moz-transition: all 0.4s ease-in-out 0s;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    -ms-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;

                    p {
                        text-align: center;
                        font-size: inherit;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -moz-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        font-size: 40px;
                    }

                    &:focus {
                        outline: none;
                    }
                }
                
                &:hover button{
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .single-movie-container {
        
        .description {
            text-align: center;

            .title {
                font-size: 18px;
            }

            .poster {
                display: block;
                width: 100%;
            }

            .description-txt {
                text-align: left;
                display: block;
                width: 100%;
            }
        }

        .comments {
            h2 {
                font-size: 16px;
            }

            .all-comments {
                .my-row {
                    .details {
                        .info {
                            .author {
                                font-size: 12px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                max-width: 55%;
                                padding: 2px;
                            }

                            .time-stamp {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .modal {
        overflow: visible;
    }
}