body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*.avatar{*/
  /*width: 25%;*/
/*}*/
/*.infoUser{*/
  /*text-align: center;*/
  /*width: 15%;*/
/*}*/
/*.lastSeen{*/
  /*width: 50%;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/
