.Cabinet {
  text-align: center;
  margin-top: 20px;
  min-height: calc(100vh - 125px);
}
.avatar{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.infoUser{
  text-align: center;
  width: 30%;
}
.infoUser Button{
width: 80%;
}
.lastSeen{
  margin-top: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.lastSeen1{
  margin-top: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.Seen{
  margin-top: 20px;
}

.ui.input {
  width: 100%;
}

.ui.red.corner.label i:hover,
i.icon.save:before {
  cursor: pointer;
}

.ui.list .list>.item:first-child, .ui.list>.item:first-child, ol.ui.list li:first-child, ul.ui.list li:first-child,
.ui.list .list>.item:last-child, .ui.list>.item:last-child, ol.ui.list li:last-child, ul.ui.list li:last-child {
  word-break: break-all;
}

.ui.list>.item {
  word-break: break-all;
}

.ui.button.my-cabinet-btn {
  width: 100%;
}

.ui.inverted.green.button a i {
  color: rgb(33, 186, 69);
}
.ui.inverted.green.button:hover a i {
  color: #fff;
}