.header {
  font-family: 'Open Sans', sans-serif;
  font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em; }
  .header a {
    text-decoration: none; }
  .header .logo {
    max-width: 176px;
    display: block; }
    .header .logo a {
      display: block; }
      .header .logo a img {
        display: block;
        width: 100%; }
  .header .search-input {
    max-width: 170px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .header .search-input label,
    .header .search-input input {
      display: inline-block; }
    .header .search-input label {
      width: 23px;
      height: 23px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      vertical-align: middle;
      margin-right: 2px; }
      .header .search-input label i {
        color: #333333;
        text-transform: uppercase;
        font-size: 0.8em;
        line-height: 1em; }
    .header .search-input input {
      font-family: inherit;
      color: #bfbfbf;
      font-size: 14px;
      font-weight: 300;
      width: 72%;
      border: none;
      border-bottom: 1px solid;
      -webkit-transition: border-bottom .25 linear;
      -o-transition: border-bottom .25 linear;
      transition: border-bottom .25 linear; }
      .header .search-input input:focus {
        outline: none;
        border-bottom: 1px solid #a460b9; }
  .header .links {
    text-transform: uppercase;
    font-family: inherit;
    color: #333333; }
    .header .links div {
      cursor: pointer;
      display: inline-block;
      color: inherit; }
      .header .links div a {
        position: relative;
        margin-right: 10px;
        color: inherit; }
        .header .links div a::before, .header .links div a::after {
          content: "";
          position: absolute;
          bottom: -10px;
          width: 0px;
          height: 5px;
          margin: 5px 0 0;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          -webkit-transition-duration: 0.4s;
               -o-transition-duration: 0.4s;
                  transition-duration: 0.4s;
          opacity: 0; }
        .header .links div a::after {
          left: 0;
          background-color: #a460b9; }
        .header .links div a:visited {
          color: inherit; }
      .header .links div:hover a::before,
      .header .links div:hover a::after {
        width: 100%;
        opacity: 1; }
  .header .languages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .languages a {
      color: #bebebe; }
    .header .languages a.active {
      color: #a460b9; }
    .header .languages a:first-child::after {
      margin: 0 7px;
      width: 1px;
      height: 20px;
      background: #bebebe;
      content: '';
      display: inline-block; }
  .header .logout {
    padding: 9px 21px;
    color: #a460b9;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #a460b9;
    -webkit-transition: background-color .25 linear;
    -o-transition: background-color .25 linear;
    transition: background-color .25 linear;
    cursor: pointer; }
    .header .logout:hover {
      background-color: #f5edf7; }
    .header .logout button {
      cursor: pointer;
      font-family: inherit;
      text-transform: uppercase; }
