.header {
  font-family: 'Open Sans', sans-serif;
  font-size: -webkit-calc(16px + 6 * ((40vw - 320px) / 680));
  font-size: calc(16px + 6 * ((40vw - 320px) / 680));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em; }
  .header a {
    text-decoration: none; }
  .header .logo {
    max-width: 176px;
    display: block; }
    .header .logo a {
      display: block; }
      .header .logo a img {
        display: block;
        width: 100%; }
  .header .header-items {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .header-items .links {
      text-transform: uppercase;
      font-family: inherit;
      color: #333333; }
      .header .header-items .links div {
        cursor: pointer;
        display: inline-block;
        color: inherit; }
        .header .header-items .links div a {
          position: relative;
          margin-right: 10px;
          color: inherit; }
          .header .header-items .links div a::before, .header .header-items .links div a::after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 0px;
            height: 5px;
            margin: 5px 0 0;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-transition-duration: 0.4s;
                 -o-transition-duration: 0.4s;
                    transition-duration: 0.4s;
            opacity: 0; }
          .header .header-items .links div a::after {
            left: 0;
            background-color: #a460b9; }
          .header .header-items .links div a:visited {
            color: inherit; }
        .header .header-items .links div:hover a::before,
        .header .header-items .links div:hover a::after {
          width: 100%;
          opacity: 1; }
    .header .header-items .languages {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header-items .languages a {
        color: #bebebe; }
      .header .header-items .languages a.active {
        color: #a460b9; }
      .header .header-items .languages a:first-child::after {
        margin: 0 7px;
        width: 1px;
        height: 16px;
        background: #bebebe;
        content: '';
        display: inline-block; }
    .header .header-items .logout {
      padding: 9px 21px;
      color: #a460b9;
      font-size: 14px;
      font-weight: 400;
      font-family: inherit;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      border: 1px solid #a460b9;
      -webkit-transition: background-color .25 linear;
      -o-transition: background-color .25 linear;
      transition: background-color .25 linear;
      cursor: pointer; }
      .header .header-items .logout:hover {
        background-color: #f5edf7; }
      .header .header-items .logout button {
        cursor: pointer;
        font-family: inherit;
        text-transform: uppercase; }

.header-mob {
  display: none; }

@media screen and (max-width: 1080px) {
  .header .header-items {
    width: 40%; }
    .header .header-items .languages a:first-child::after {
      height: 12px; } }

@media screen and (max-width: 778px) {
  .header .header-items {
    width: 50%;
    font-size: 14px; }
    .header .header-items .languages a:first-child::after {
      height: 12px; } }

@media screen and (max-width: 415px) {
  .header {
    display: none; }
  .header-mob {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    font-size: 0;
    text-align: center;
    /* menu */
    /* menu icon */
    /* menu btn */ }
    .header-mob ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: #DFB2EB; }
    .header-mob li a,
    .header-mob li button {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: #000;
      font-family: "Roboto", sans-serif;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      font-size: -webkit-calc(16px + 6 * ((50vw - 1320px) / 1880));
      font-size: calc(16px + 6 * ((50vw - 1320px) / 1880)); }
    .header-mob li a:hover,
    .header-mob li button:hover,
    .header-mob .menu-btn:hover {
      cursor: pointer;
      background-color: #D181E6;
      color: #fff; }
    .header-mob .logo {
      max-width: 150px;
      font-size: 2em;
      padding: 10px 20px;
      text-decoration: none; }
      .header-mob .logo a img {
        display: block;
        width: 100%; }
    .header-mob .menu {
      clear: both;
      max-height: 0;
      -webkit-transition: max-height .2s ease-out;
      -o-transition: max-height .2s ease-out;
      transition: max-height .2s ease-out;
      display: block;
      top: -170px;
      right: 0;
      z-index: 99;
      position: absolute; }
    .header-mob .menu-icon {
      cursor: pointer;
      display: inline-block;
      padding: 28px 20px;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .header-mob .menu-icon .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      -webkit-transition: background .2s ease-out;
      -o-transition: background .2s ease-out;
      transition: background .2s ease-out;
      width: 18px; }
    .header-mob .menu-icon .navicon:before,
    .header-mob .menu-icon .navicon:after {
      background: #333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      width: 100%; }
    .header-mob .menu-icon .navicon:before {
      top: 5px; }
    .header-mob .menu-icon .navicon:after {
      top: -5px; }
    .header-mob .menu-btn {
      display: none; }
    .header-mob .menu-btn:checked ~ .menu {
      max-height: 240px;
      top: 45px; }
    .header-mob .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent; }
    .header-mob .menu-btn:checked ~ .menu-icon .navicon:before {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .header-mob .menu-btn:checked ~ .menu-icon .navicon:after {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header-mob .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header-mob .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0; } }
