.library-container {
  font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  margin: 15px auto;
  padding: 0 10px;
  min-height: -webkit-calc(100vh - 120px);
  min-height: calc(100vh - 120px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }
  .library-container h1 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em; }
  .library-container .control {
    margin: 15px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 0.6em;
    line-height: 1em; }
    .library-container .control .search-input {
      width: 40%;
      margin-right: 10%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .library-container .control .search-input label,
      .library-container .control .search-input input {
        display: inline-block; }
      .library-container .control .search-input label {
        max-width: 23px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        vertical-align: middle;
        margin-right: 2px; }
        .library-container .control .search-input label i {
          color: #333333;
          text-transform: uppercase;
          font-size: 22px;
          line-height: 1em; }
      .library-container .control .search-input input {
        padding-bottom: 3px;
        margin-right: 5px;
        width: 72%;
        color: #bfbfbf;
        font-family: inherit;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        border: none;
        border-bottom: 1px solid;
        -webkit-transition: border-bottom .25 linear;
        -o-transition: border-bottom .25 linear;
        transition: border-bottom .25 linear; }
        .library-container .control .search-input input:focus {
          outline: none;
          border-bottom: 1px solid #a460b9; }
    .library-container .control .year-select {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .library-container .control .input-range {
      width: 50%; }
      .library-container .control .input-range .input-range__track--background {
        top: 101%; }
        .library-container .control .input-range .input-range__track--background .input-range__track--active {
          background: #9B63B4; }
    .library-container .control .input-range__slider {
      background: #9B63B4 !important;
      border-color: #9B63B4 !important; }
    .library-container .control .param {
      width: 22%; }
  .library-container .control.need-space {
    margin-bottom: 30px;
    padding-right: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .library-container .movies-all {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .library-container .movies-all .row .movie-item {
      margin-top: 30px; }
      .library-container .movies-all .row .movie-item .poster {
        font-size: 0;
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden; }
        .library-container .movies-all .row .movie-item .poster .seen {
          bottom: -30px;
          color: white;
          background: red;
          font-weight: 700;
          font-size: 14px;
          position: absolute;
          right: -72%;
          left: -41%;
          height: 50px;
          text-align: center;
          -webkit-transform: rotate(-33deg);
              -ms-transform: rotate(-33deg);
                  transform: rotate(-33deg);
          padding-left: 118px;
          line-height: 50px; }
        .library-container .movies-all .row .movie-item .poster button {
          text-decoration: none;
          display: block;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: rgba(51, 0, 51, 0.8);
          color: #fff;
          padding: 15px;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -o-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s; }
          .library-container .movies-all .row .movie-item .poster button p {
            text-align: center;
            font-size: inherit;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 40px; }
          .library-container .movies-all .row .movie-item .poster button:focus {
            outline: none; }
        .library-container .movies-all .row .movie-item .poster img {
          display: block;
          width: 100%; }
        .library-container .movies-all .row .movie-item .poster:hover button {
          cursor: pointer;
          opacity: 1; }
      .library-container .movies-all .row .movie-item .production {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 0.8em;
        margin-bottom: 10px; }
        .library-container .movies-all .row .movie-item .production .year,
        .library-container .movies-all .row .movie-item .production .country {
          display: inline-block;
          color: #bfbfbf;
          text-transform: uppercase;
          margin: 0; }
      .library-container .movies-all .row .movie-item .title {
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .library-container .movies-all .row .movie-item .title:hover {
          color: #a460b9; }
        .library-container .movies-all .row .movie-item .title a {
          text-decoration: none;
          color: inherit; }
      .library-container .movies-all .row .movie-item .genre {
        font-weight: 300;
        color: #808080;
        text-transform: capitalize;
        font-size: 0.7em; }

@media screen and (max-width: 769px) {
  .library-container .control {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .library-container .control.need-space .search-input button {
    height: 30px;
    padding: 5px;
    margin-right: 0;
    font-size: 14px; }
  .library-container .control.need-space .year-select {
    padding-right: 16px;
    height: 30px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .library-container .control.need-space .year-select button {
      height: 30px;
      padding: 5px;
      margin-right: 0;
      font-size: 14px; } }

@media screen and (max-width: 415px) {
  .library-container .control.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .library-container .control.column .param {
      width: 100%;
      margin-bottom: 5px; }
  .library-container .control.need-space {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
    padding-right: 0px; }
    .library-container .control.need-space .search-input {
      width: 100%;
      margin-right: 0; }
      .library-container .control.need-space .search-input label i {
        font-size: 14px; }
      .library-container .control.need-space .search-input input {
        width: 96%; }
    .library-container .control.need-space .year-select {
      margin: 20px auto 0px;
      padding-right: 16px;
      height: 20px; }
      .library-container .control.need-space .year-select button {
        height: 30px;
        padding: 5px;
        margin-right: 0;
        font-size: 14px; }
  .library-container .input-range__label-container {
    font-size: 9px; } }
