html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }


button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */ }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

.signin-page {
  font-size: -webkit-calc(16px + 6 * ((100vw - 1320px) / 680));
  font-size: calc(16px + 6 * ((100vw - 1320px) / 680));
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #2e1536;
  height: 100vh; }
  .signin-page .main-head {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.3em; }
    .signin-page .main-head .main-head-logo {
      width: 20%; }
      .signin-page .main-head .main-head-logo a {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        text-decoration: none;
        color: inherit; }
        .signin-page .main-head .main-head-logo a img {
          display: inline-block;
          width: 25%;
          max-width: 90px; }
        .signin-page .main-head .main-head-logo a p {
          display: inline-block;
          margin: 0; }
    .signin-page .main-head .language-holder {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .signin-page .main-head .language-holder .language-option {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .signin-page .main-head .language-holder .language-option:after {
        content: '';
        display: inline-block;
        height: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
        height: calc(16px + 6 * ((100vw - 320px) / 680));
        width: 1px;
        margin: 0 3px;
        background-color: #e6e6e6; }
      .signin-page .main-head .language-holder button {
        text-decoration: none;
        color: #b184c3;
        cursor: pointer; }
        .signin-page .main-head .language-holder button.disabled {
          color: #e6e6e6; }
      .signin-page .main-head .language-holder button:focus {
        outline: none; }
    .signin-page .main-head .main-head-btn-holder {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: inherit;
      width: 20%; }
      .signin-page .main-head .main-head-btn-holder .main-head-btn {
        color: #5d2d6c;
        word-wrap: break-word;
        text-decoration: none;
        background-color: #f9f9f9;
        padding: 0.5em;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        position: relative;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        overflow: hidden;
        -webkit-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
           transition-duration: 0.2s; }
        .signin-page .main-head .main-head-btn-holder .main-head-btn:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #ebdaf1;
          -webkit-border-radius: 100%;
                  border-radius: 100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
          -webkit-transition-property: transform;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          -o-transition-property: transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
             transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          -o-transition-timing-function: ease-out;
             transition-timing-function: ease-out; }
        .signin-page .main-head .main-head-btn-holder .main-head-btn:hover {
          color: #2f1736; }
        .signin-page .main-head .main-head-btn-holder .main-head-btn:hover:before {
          -webkit-transform: scale(2);
              -ms-transform: scale(2);
                  transform: scale(2); }
  .signin-page .signin-page-content {
    max-width: 960px;
    text-align: center;
    margin: 120px auto; }
    .signin-page .signin-page-content h1,
    .signin-page .signin-page-content h3 {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0.3em;
      font-size: 1.5em; }
      .signin-page .signin-page-content h1 a,
      .signin-page .signin-page-content h3 a {
        text-decoration: none;
        color: #a55dbb; }
    .signin-page .signin-page-content .signin-form-holder {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 30px; }
      .signin-page .signin-page-content .signin-form-holder aside {
        width: 40%; }
        .signin-page .signin-page-content .signin-form-holder aside img {
          display: block;
          width: 100%; }
      .signin-page .signin-page-content .signin-form-holder .signin-form .form-error {
        margin-top: 0.4em;
        padding: 15px;
        font-size: 18px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        background-color: #ffe6b3;
        color: #5d2d6c; }
      .signin-page .signin-page-content .signin-form-holder .signin-form .my-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 0.5em; }
        .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder {
          width: 100%;
          position: relative; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder:before {
            content: "";
            display: table;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input {
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            font-family: inherit;
            font-size: 18px;
            width: 100%;
            padding: 15px;
            padding-left: 45px;
            line-height: 18px;
            background-color: #f9f9f9;
            border: none;
            -webkit-border-radius: 3px;
                    border-radius: 3px; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input:focus {
              outline: none; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input:focus + label {
              color: #a55dbb; }
              .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input:focus + label:after {
                background-color: #c393d2; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input + label {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            width: 25px;
            display: block;
            font-size: 0.7em;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            left: 4%;
            color: #d9d9d9;
            height: 100%;
            text-align: center;
            padding: 5px;
            -webkit-transition: 0.35s ease-in-out;
            -o-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input + label:after {
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                      transform: translateY(-50%);
              content: "";
              display: block;
              width: 1px;
              height: 70%;
              background: #d9d9d9;
              right: -2px;
              -webkit-transition: all 0.35s ease-in-out;
              -o-transition: all 0.35s ease-in-out;
              transition: all 0.35s ease-in-out; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input + label i {
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                      transform: translateY(-50%);
              left: 0; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder .input-icon {
            position: absolute;
            top: 50%; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder .reset-pass {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            right: 1%;
            display: block;
            text-decoration: none;
            color: #5d2d6c;
            font-size: 0.7em; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder .reset-pass:hover {
              text-decoration: underline; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder .form-btn-submit {
            color: #5d2d6c;
            text-decoration: none;
            background-color: #f9f9f9;
            padding: 15px;
            -webkit-border-radius: 3px;
                    border-radius: 3px;
            position: relative;
            overflow: hidden;
            -webkit-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
               transition-duration: 0.2s;
            width: 100%;
            font-size: 18px;
            line-height: 18px; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder .form-btn-submit:hover {
              color: #2f1736;
              background: #ebdaf1;
              cursor: pointer; }
        .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .signin-reset-pass {
          text-decoration: none;
          color: #a55dbb; }
        .signin-page .signin-page-content .signin-form-holder .signin-form .my-row h4 {
          margin: 0 auto;
          font-weight: normal; }
        .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .form-button {
          width: 100%; }
        .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-email {
          width: 100%; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-email input {
            padding-left: 3.2em; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-email input + label {
            left: 2%; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-email input + label:after {
              right: -4px; }
        .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .social-media {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around;
          width: 100%;
          font-size: 1.3em; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .social-media div {
            display: inline-block; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .social-media div:hover {
              cursor: pointer; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .social-media .fortytwo {
            width: -webkit-calc(15px + 6 * ((100vw - 320px) / 680));
            width: calc(15px + 6 * ((100vw - 320px) / 680));
            height: -webkit-calc(14px + 6 * ((100vw - 320px) / 680));
            height: calc(14px + 6 * ((100vw - 320px) / 680));
            background-image: url("./42.png");
            -webkit-background-size: cover;
                    background-size: cover;
            background-position: 50%;
            -webkit-border-radius: 3px;
                    border-radius: 3px; }
            .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .social-media .fortytwo img {
              display: block;
              width: 100%; }
        .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .alternatieve {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          width: 100%; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .alternatieve:before, .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .alternatieve:after {
            content: "";
            display: inline-block;
            height: 2px;
            width: 42%;
            background-color: #fff;
            vertical-align: middle; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .alternatieve h4 {
            display: inline-block; }

@media screen and (min-width: 1240px) {
  .signin-page-content {
    max-width: 1140px; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-head-btn-description {
    font-size: 0.9em; }
  .signin-page-content {
    max-width: 720px; } }

@media screen and (max-width: 768px) {
  .signin-page .main-head {
    padding: 0.2em; }
    .signin-page .main-head .main-head-btn-holder {
      width: 35%; }
  .signin-page .signin-page-content {
    max-width: 540px; }
    .signin-page .signin-page-content .signin-form-holder {
      margin-top: 4em; } }

@media screen and (max-width: 415px) {
  .signin-page {
    background-color: #e8c36f; }
    .signin-page .main-head {
      padding: 0.2em;
      font-size: 14px; }
      .signin-page .main-head .main-head-btn-holder {
        width: 22%; }
        .signin-page .main-head .main-head-btn-holder p {
          display: none; }
      .signin-page .main-head .main-head-logo a {
        -webkit-box-pack: initial;
        -webkit-justify-content: initial;
            -ms-flex-pack: initial;
                justify-content: initial; }
        .signin-page .main-head .main-head-logo a p {
          display: none; }
        .signin-page .main-head .main-head-logo a img {
          width: 50%; }
    .signin-page .signin-page-content {
      width: 100%;
      position: relative;
      height: -webkit-calc(100vh - 47px);
      height: calc(100vh - 47px);
      margin: 0 auto; }
      .signin-page .signin-page-content h1,
      .signin-page .signin-page-content h3 {
        position: relative;
        font-size: 18px; }
      .signin-page .signin-page-content h1 {
        font-weight: bold; }
      .signin-page .signin-page-content h3 {
        color: #737373;
        background: rgba(255, 255, 255, 0.6); }
      .signin-page .signin-page-content .back-s-u {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-image: url("./bg-small.jpg");
        -webkit-background-size: cover;
                background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%; }
      .signin-page .signin-page-content aside {
        display: none; }
      .signin-page .signin-page-content .signin-form-holder {
        margin-top: 0;
        padding: 3em 3em;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 74%; }
        .signin-page .signin-page-content .signin-form-holder .signin-form {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .form-foreword {
            color: #a55dbb;
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 15px; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder input + label {
            font-size: 14px; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-holder .reset-pass {
            font-size: 14px; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .input-email input + label:after {
            right: -1px; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .alternatieve {
            margin-top: 20px;
            font-size: 18px; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row h4 {
            margin: 2px auto;
            font-size: 14px; }
          .signin-page .signin-page-content .signin-form-holder .signin-form .my-row .social-media {
            margin-top: 10px;
            font-size: 18px; } }
